@media screen and (max-width: 500px){
    body{
        background-color: red;

    }
    .nav-menu{
        display: none;
    }
}
@media screen and (min-width: 500px){
    body{
        background-color: pink;
        ;
    }
}


header{
    color: darkorange;
}

header h1:hover{
    color: aqua;
}

.nav-menu{
    list-style-type: none;
    background-color: black;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

.nav-menu li{
    display: inline-block;
    color: black;
    width: 100px;
    text-align: center;
    background-color:white ;
}

a{
    link:black;
}
a:visited{
    color:black;
}
a:hover{
    color : blue;
}

input:hover{
    color: blue;
    border: 2px dashed red;
    padding: 1px;
}


main{
    /*REmove float*/
    clear:both;
}

#header-user{
    float:right;
    min-width: 250px;
}

#header-user-name{
    color:black;
    text-shadow: 4px 4px 6px black;
}

#header-user-account{
    font-size: 12px;
}

#header-user-avatar{
    float: left;
    width:55px;
    margin:5px;
    vertical-align: top;
}

#header-title, #header-logo{
    display: inline-block ;
    left : 10px;
    top : 10px;
    /* aligne les elements inline ou inline-block sur le meme niveau du container*/
    vertical-align: top;
}

.headergauche div{
    display: inline-block;
}

#bio-image-band{
    position : relative;
    display: inline-block;
}


#wrapper{
    display: flex;
}

#wrapper div{
    flex: 1 0 50%;
}

#validation-formulaire input{
    display: inline-block;
    text-align: center;
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}

