DROP DATABASE IF EXISTS une_entreprise;

USE [master]
GO
/****** Object:  Database [UNE_ENTREPRISE]    Script Date: 17/09/2018 17:47:51 ******/
IF(db_id(N'UNE_ENTREPRISE') IS NULL)
BEGIN
    CREATE DATABASE [UNE_ENTREPRISE];
END;
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UNE_ENTREPRISE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UNE_ENTREPRISE]
GO
USE [UNE_ENTREPRISE]
GO
/****** Object:  Schema [FACTURATION]    Script Date: 17/09/2018 17:47:51 ******/
CREATE SCHEMA [FACTURATION]
GO
/****** Object:  Table [FACTURATION].[CLIENTS]    Script Date: 17/09/2018 17:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FACTURATION].[CLIENTS](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[prenom] [varchar](50) NULL,
	[telephone] [varchar](10) NULL,
 CONSTRAINT [PK_CLIENTS] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FACTURATION].[FACTURES]    Script Date: 17/09/2018 17:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FACTURATION].[FACTURES](
	[id_facture] [int] IDENTITY(1,1) NOT NULL,
	[numero_facture] [varchar](50) NULL,
	[date_facture] [datetime] NULL,
	[montant_facture] [decimal](18, 2) NULL,
	[nb_article] [int] NULL,
	[paye] [bit] NULL,
	[client_id] [int] NULL,
 CONSTRAINT [PK_FACTURES] PRIMARY KEY CLUSTERED 
(
	[id_facture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [FACTURATION].[CLIENTS] ON 

INSERT [FACTURATION].[CLIENTS] ([id_client], [nom], [prenom], [telephone]) VALUES (5, N'un nom1', N'un prenom1', N'0688141021')
INSERT [FACTURATION].[CLIENTS] ([id_client], [nom], [prenom], [telephone]) VALUES (6, N'un nom2', N'un prenom2', N'0688141022')
INSERT [FACTURATION].[CLIENTS] ([id_client], [nom], [prenom], [telephone]) VALUES (7, N'un nom3', N'un prenom3', N'0688141023')
SET IDENTITY_INSERT [FACTURATION].[CLIENTS] OFF
SET IDENTITY_INSERT [FACTURATION].[FACTURES] ON 

INSERT [FACTURATION].[FACTURES] ([id_facture], [numero_facture], [date_facture], [montant_facture], [nb_article], [paye], [client_id]) VALUES (1, N'F800', '2005-01-12 12:36:20.120', CAST(13.00 AS Decimal(18, 2)), 2, 1, NULL)
INSERT [FACTURATION].[FACTURES] ([id_facture], [numero_facture], [date_facture], [montant_facture], [nb_article], [paye], [client_id]) VALUES (2, N'F801', '2019-05-05 00:00:00.000', CAST(19.00 AS Decimal(18, 2)), 2, 1, 5)
INSERT [FACTURATION].[FACTURES] ([id_facture], [numero_facture], [date_facture], [montant_facture], [nb_article], [paye], [client_id]) VALUES (3, N'F802', '2019-09-05 00:00:00.000', CAST(19.00 AS Decimal(18, 2)), 2, 1, 6)
SET IDENTITY_INSERT [FACTURATION].[FACTURES] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FACTURES]    Script Date: 17/09/2018 17:47:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FACTURES] ON [FACTURATION].[FACTURES]
(
	[numero_facture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [FACTURATION].[FACTURES]  WITH CHECK ADD  CONSTRAINT [FK_FACTURES_CLIENTS] FOREIGN KEY([client_id])
REFERENCES [FACTURATION].[CLIENTS] ([id_client])
GO
ALTER TABLE [FACTURATION].[FACTURES] CHECK CONSTRAINT [FK_FACTURES_CLIENTS]
GO
USE [master]
GO
