/* Les commentaires
---------------------- Selecteurs:

balise1,balise2{ propriété:valeur ; } 
.class_balise,#id_balise{ propriété:valeur ;}
Ci-dessus ce sont deux types de "sélecteurs", il y en a beaucoup, pour préciser quelles balises atteindre par nos regles
Par exemple : 
	.class{), .id{ } , A,B{ } vues au dessus
	*{ propriété:valeur;} est selecteur universel (s'applique à tout)
	A B{    } atteint balise B contenue dans balise A. ex: h1 em{ } selectione balise <em> contenues dans <h1>
	A + B{  } atteint balise B située après balise A. ex: h3 + p { } selectionne balise <p> après un titre <h3>
	A[attribut] selectione balise qui possede un attribut. ex: a[title] selectionne tous les liens <a> qui possedent un attribut title
	A[attribut="valeur"] selectionne balises qui possede un attribut = valeur. ex a[title="Mer!"] selectionne les liens <a> qui possedent un attribut title="Mer!"
	A[attribut*="ici"] selectionne balises qui possede un attribut qui contient la valeur "ici", peu importe sa place. ex <a href="http://site.com" title=" j'aime etre ici"> sera selectionné.
	... et plein d'autres ! https://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors

---------------------- Formatage texte:

- taille: attribut "font-size:". Peut etre absolue (pixels,cm...) ou relative(en %, em ou ex)
- police: attribut "font-family:". On peut préciser plusieurs polices si une police n'est pas installée sur la machine. font-family:police1,police2,police3. Si l'utilisateur n'a pas police1 il va chercher police2. La police par défaut est serif, appliquée si rien n'est précisée. Polices par défaut, ou définition d'une police personalisée avec @font-face (attention, demande a l'utilsiateur de dl une police)
- italique,gras,souligné: attribut "font-style:" 3 valeurs: italic, oblique, normal
- gras: attribut "font-weight:" 2 valeurs: bold, normal
- soulignement et autres decorations: attribut "text-decoration:" plusieurs valeurs: underline, line-through, overline, blink, none
- alignement du text: attribut "text-align:" valeurs: left, center, right, justify( prend toute la place disponible) . L'alignement ne fonctionne que sur les balises de type BLOCK (h1,p,div,h2...) mais pas <em>,<strong> ce qui fait sens...

-------------------- Floats:
On applique un float a une balise.

<img src="laouelleest" alt="alternativ text" title="infobull qd souris surpasse" />

Heritage: toutes les balises contenues dans une balise heritent de ses attributs, sauf si elles sont elles meme préceissées, d'où le nom du CSS(Cascafing Style sheets). Si un style pour une balise est explicitement formulé alors ce style aura la priorité sur l'héritage, sinon elle hérite de tous les attributs de la balise qui la contient.
*/


/* Permet d'installer une police personalisée, en plus de celles présentes par defaut */
@font-face {
    font-family: 'cac_champagneregular';
    src: url('font/cac_champagne-webfont.eot');
    src: url('font/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cac_champagne-webfont.woff2') format('woff2'),
         url('font/cac_champagne-webfont.woff') format('woff'),
         url('font/cac_champagne-webfont.ttf') format('truetype'),
	 /*C'est le svg qui marche pour mon explorateur safari. Ici avec cette balise, le navigateur choisi celle qui marche*/
         url('font/cac_champagne-webfont.svg#cac_champagneregular') format('svg');*
}


body{
  background-color: rgb(166,162,162);
  background-image: url("images/entrelac.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  /* Par rapport au coin superieur gauche de l'ecran: background-position: 1275px 10px; */
}

.salutations{
  color: blue;
  text-decoration: underline;
  /*Si pas précisé, prend l'attribut désigné par le cas général (ici p[class*="intro") */
  font-weight: normal;
}

h1 {
  font-size:44px;
  font-style:normal;
  text-align:left;
}

h1 em{
  color: rgb(179,21,26)
}

p em{
  color: black
  font-size:24px;
}

/*Valeurs relatives: recommandé, comme Latex: small, 1em(taille normale), 0.6ex, 80%. 1em vaut a peu pres 2.2ex */
p[class*="intro"]{
  color: rgb(95,21,179);
  font-size:1.5em;
  font-style: oblique;
  font-weight:bold;
  text-align: left;
  border: 3px blue double;
  border-left: 1px  black solid;
  border-radius: 10px;
} 
/*Par defaut p ne selectionne pas ce qui est selectionné avant, c'est cool.*/
p{
  color:black;
  font-size:3.2ex;
  font-style: normal;
  text-align: left;
}
p:hover{
  color : red ;
  font-style : italic;
  text-decoration: underline;
}

.imageFlottante{
  float:left;
}

.dessous{
  /*Indique de continuer le texte sous un flottant, retour a la ligne, que le flottant soit a gauche ou a droite*/
  clear:both;
  color: rgb(21,105,179);
}
mark{
  background-color:red;
  color:white;
}
mark:focus{
  background-color : #FFCC66;
}
